@import "./src/components/global.css";
@import "./src/components/buttons.css";
@import "./src/components/spacing.css";

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

#nav-links {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.link {
  text-decoration: none;
}

.icon {
  font-size: 2.4rem;
}

.nav-link {
  font-size: 1.8rem;
  font-weight: 550;
  color: var(--black-600);
}

#main {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 5rem 1rem;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-heading {
  text-align: center;
  font-size: 3.2rem;
  margin: 1rem;
  color: var(--black-600);
}

.hero-subheading {
  text-align: center;
  margin: 1rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--black-400);
  width: 60%;
  margin-bottom: 2rem;
}

.hero-button-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.feature-section {
  padding: 15rem 10rem 2rem 10rem;
}

.feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10rem 0rem;
}

.feature-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-basis: 30%;
}

.feature-heading {
  font-size: 2.8rem;
  color: var(--black-600);
}

.feature-description {
  font-size: 2rem;
  color: var(--black-400);
}

.feature-img {
  width: 68rem;
  height: auto;
}

#footer {
  background-color: var(--black-000);
  color: var(--black-600);
  padding: 2rem 0;
}

.footer-text {
  font-size: 2rem;
  text-align: center;
}

@media (max-width: 400px) {
  html {
    font-size: 55%;
  }
  .hero-subheading {
    width: 80%;
  }
  /* feature */
  .feature-section {
    padding: 8rem 4rem 0rem 4rem;
  }
  .feature {
    margin: 4rem 1rem;
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }
  .feature-content {
    align-items: center;
    text-align: center;
  }

  .feature-img {
    width: 35rem;
  }
  .row-flip {
    flex-direction: column;
  }
  .footer-text {
    font-size: 1.6rem;
  }
}
