@import "./global.css";
/* @import "../../text.css"; */
@import "../components/alerts.css";
@import "../components/avatars.css";
@import "../components/badges.css";
@import "../components/buttons.css";
@import "../components/cards.css";
@import "../components/images.css";
@import "../components/input.css";
@import "../components/modal.css";
@import "../components/toast.css";
@import "../components/typography.css";
@import "./spacing.css";
@import "./colors.css";
@import "./helpers.css";

body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header header header header header  header header header header"
    "sidebar main main main main main main main main main main main"
    "sidebar main main main main main main main main main main main";
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-bottom: 1px solid var(--black-000);
  margin: 0px;
  background-color: var(--black-inverted);
  grid-area: header;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
}

#nav-links {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.link {
  text-decoration: none;
}

.icon {
  font-size: 2.4rem;
}

.nav-link {
  font-size: 1.8rem;
  font-weight: 550;
  color: var(--black-600);
}

.sidebar {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  padding: 1rem 1rem;
  overflow-y: auto;
  height: calc(100vh - 8rem);
  grid-area: sidebar;
  width: 250px;
  transition: 0.5s;
  border-right: 1px solid var(--black-000);
}

.sidebar::-webkit-scrollbar {
  width: 1em;
}

.sidebar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: var(--black-300);
  border-radius: var(--radius-sm);
}

.menu-icon {
  display: none;
  font-size: 4rem;
  transition: 0.3s;
}

.component-link {
  color: var(--black-600);
  font-size: 1.6rem;
  margin: 0.2rem;
  text-decoration: none;
  border-radius: 5px;
  /* border-bottom: 1px solid var(--black-100); */
  padding: 1rem;
}

.component-link:hover {
  background-color: var(--primary-100);
  color: var(--primary-600);
  text-decoration: none;
  font-weight: var(--tx-medium);
  transition: 0.4s;
}

#main {
  grid-area: main;
  height: calc(100vh - 8rem);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1.5rem 1rem;
}

#main::-webkit-scrollbar {
  width: 1em;
}

#main::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#main::-webkit-scrollbar-thumb {
  background-color: var(--black-300);
  border-radius: var(--radius-sm);
}

.content {
  font-size: 2rem;
}

.drawer {
  display: none;
}

.drawer-show {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  overflow-y: auto;
  background-color: var(--black-inverted);
  height: 100vh;
  transition: 0.5s;
  z-index: 2000;
  position: fixed;
  left: 0;
  right: 0;
  width: 100vw;
}

.drawer-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
  background-color: var(--black-000);
  width: 100%;
}

.drawer-icon {
  font-size: var(--tx-40);
}

.component-list {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-left: 1rem;
}

.component-link-drawer {
  color: var(--black-600);
  font-size: 1.6rem;
  margin: 0.5rem;
  text-decoration: none;
  border-bottom: 1px solid var(--black-100);
  padding-bottom: 1rem;
}

.component-link-drawer:active {
  color: red;
  text-decoration: underline;
  transition: 0.3s;
}

.link-active {
  background-color: var(--purple-100);
  color: var(--purple-600);
  text-decoration: none;
  border-radius: 10px;
}

/* gist */
.gist {
  padding: 1rem;
}

.gist-file {
  padding: 0.5rem;
  background-color: var(--black-100);
}

.gist-data {
  padding: 3rem 2rem;
  max-height: 25rem;
  overflow-y: scroll;
}

.gist-data::-webkit-scrollbar {
  width: 10px;
}

.gist-data::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.gist-data::-webkit-scrollbar-thumb {
  background-color: var(--black-300);
  border-radius: var(--radius-sm);
}

@media (max-width: 40rem) {
  html {
    font-size: 55%;
  }
  #grid-container {
    grid-template-areas:
      "header header header header header header header header  header header header header"
      "main main main main main main main main main main main main"
      "main main main main main main main main main main main main";
    overflow: initial;
  }

  .sidebar {
    display: none;
    margin: 0;
  }

  #main {
    margin: 1rem 0.5rem;
    padding: 1rem 1rem 4rem 1rem;
    height: calc(100vh - 10rem);
  }

  .menu-icon {
    display: inline;
  }
}
