@import "./global.css";
@import "../../text.css";
@import "../components/alerts.css";
@import "../components/avatars.css";
@import "../components/badges.css";
@import "../components/buttons.css";
@import "../components/cards.css";
@import "../components/images.css";
@import "../components/input.css";
@import "../components/toast.css";
@import "./spacing.css";
@import "./typography.css";
@import "./colors.css";
@import "./helpers.css";

body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header header header header header  header header header header"
    "sidebar main main main main main main main main main main main"
    "sidebar main main main main main main main main main main main";
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  /* box-shadow: 0px 5px 5px var(--black-000); */
  border-bottom: 1px solid var(--black-000);
  margin: 0px;
  background-color: var(--black-inverted);
  grid-area: header;
  width: 100%;
  position: sticky;
  top: 0;
}

#nav-links {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.link {
  text-decoration: none;
}

.icon {
  font-size: 2.4rem;
}

.nav-link {
  font-size: 1.8rem;
  font-weight: 550;
  color: var(--black-600);
}

.sidebar {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  padding: 1rem 1rem;
  overflow-y: auto;
  height: calc(100vh - 8rem);
  grid-area: sidebar;
  width: 250px;
  transition: 0.5s;
  border-right: 1px solid var(--black-000);
}
.menu-icon {
  display: none;
  font-size: 4rem;
  transition: 0.3s;
}

.component-link {
  color: var(--black-600);
  font-size: 1.6rem;
  margin: 0.2rem;
  text-decoration: none;
  border-radius: 5px;
  /* border-bottom: 1px solid var(--black-100); */
  padding: 1rem;
}

.component-link:hover {
  background-color: var(--primary-100);
  color: var(--primary-600);
  text-decoration: none;
  font-weight: var(--tx-medium);
  transition: 0.4s;
}

#main {
  grid-area: main;
  height: calc(100vh - 8rem);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1rem;
}

.content {
  font-size: 2rem;
}

.drawer {
  display: none;
}

.drawer-show {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  overflow-y: auto;
  background-color: var(--black-inverted);
  height: 100vh;
  transition: 0.5s;
  z-index: 2000;
  position: absolute;
  top: 3rem;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  transition: 1s;
}

.drawer-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
  position: sticky;
  top: 0;
  background-color: var(--black-000);
  width: 100%;
}

.drawer-icon {
  font-size: 4rem;
}

.component-list {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-left: 1rem;
}

.component-link-drawer {
  color: var(--black-600);
  font-size: 1.6rem;
  margin: 0.5rem;
  text-decoration: none;
  border-bottom: 1px solid var(--black-100);
  padding-bottom: 1rem;
}

.component-link-drawer:active {
  color: red;
  text-decoration: underline;
  transition: 0.3s;
}

.link-active {
  background-color: var(--purple-100);
  color: var(--purple-600);
  text-decoration: none;
  border-radius: 10px;
}

@media (max-width: 40rem) {
  html {
    font-size: 55%;
  }
  #grid-container {
    grid-template-areas:
      "header header header header header header header header  header header header header"
      "main main main main main main main main main main main main"
      "main main main main main main main main main main main main";
    overflow: initial;
  }

  .sidebar {
    display: none;
    margin: 0;
  }

  #main {
    margin: 0.5rem;
    padding-bottom: 6rem;
  }

  .menu-icon {
    display: inline;
  }
}
