@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");

@import url("https://unicons.iconscout.com/release/v2.1.5/css/unicons.css");
:root {
  /*black-shades*/
  --black-000: #f3f3f3;
  --black-100: #e0e0e0;
  --black-200: #c0c0c0;
  --black-300: #a1a1a1;
  --black-400: #818181;
  --black-500: #616161;
  --black-600: #414141;
  --black-inverted: white;
  /*pink-shades*/
  --pink-100: #fac1d6;
  --pink-200: #f584ad;
  --pink-300: #f04684;
  --pink-400: #e1125e;
  --pink-500: #a90e46;
  --pink-600: #70092f;
  /*red-shades*/
  --red-100: #fcd0cf;
  --red-200: #faa09e;
  --red-300: #f7716e;
  --red-400: #f5413d;
  --red-500: #da100b;
  --red-600: #910b08;
  /*orange-shades*/
  --orange-100: #fbe5c9;
  --orange-200: #f6ca92;
  --orange-300: #f2b05c;
  --orange-400: #ed9526;
  --orange-500: #bf710f;
  --orange-600: #7f4c0a;
  /*yellow-shades*/
  --yellow-100: #fbf3d0;
  --yellow-200: #f7e7a1;
  --yellow-300: #f4db71;
  --yellow-400: #f0d042;
  --yellow-500: #d4b011;
  --yellow-600: #8e750b;
  /*green-shades*/
  --green-100: #c5f2c7;
  --green-200: #8ce590;
  --green-300: #52d858;
  --green-400: #2ab930;
  --green-500: #1f8b24;
  --green-600: #155d18;
  /*teal-shades*/
  --teal-100: #abfbf2;
  --teal-200: #4ef6e5;
  --teal-300: #0cdac6;
  --teal-400: #009e8e;
  --teal-500: #00776a;
  --teal-600: #004f47;
  /*blue-shades*/
  --blue-100: #d0e2fa;
  --blue-200: #8ab9f6;
  --blue-300: #5096f1;
  --blue-400: #2d7ee9;
  --blue-500: #0f56b3;
  --blue-600: #0a3977;
  /* primary-shades */
  --primary-000: #d5e4f8;
  --primary-100: #c5dcfa;
  --primary-200: #8ab9f6;
  --primary-300: #5096f1;
  --primary-400: #2d7ee9;
  --primary-500: #0f56b3;
  --primary-600: #0a3977;

  /*indigo-shades*/
  --indigo-100: #c7cdf1;
  --indigo-200: #8e9ae3;
  --indigo-300: #5668d5;
  --indigo-400: #2e41b6;
  --indigo-500: #223189;
  --indigo-600: #17205b;
  /*purple-shades*/
  --purple-100: #ecb9f9;
  --purple-200: #d972f4;
  --purple-300: #c52cee;
  --purple-400: #9a0fbf;
  --purple-500: #730c8f;
  --purple-600: #4d085f;
  /* typography */
  --primary-font: "Open Sans", sans-serif;
  /* font-weights */
  --tx-light: 300;
  --tx-normal: 400;
  --tx-medium: 600;
  --tx-semi-bold: 700;
  --tx-bold: 800;
  --tx-black: 900;
  /* font-sizes */
  --tx-12: 1.2rem;
  --tx-14: 1.4rem;
  --tx-16: 1.6rem;
  --tx-18: 1.6rem;
  --tx-20: 2rem;
  --tx-24: 2.4rem;
  --tx-28: 2.8rem;
  --tx-32: 3.2rem;
  --tx-40: 4rem;
  /* border-radius */
  --radius-sm: 0.5rem;
  --radius-md: 1rem;
  --radius-lg: 1.5;
  --radius-xl: 2rem;
  --radius-round: 50%;
  /* spacing-scale */
  --sp-xs: 0.4rem;
  --sp-sm: 0.8rem;
  --sp-md: 1.6rem;
  --sp-lg: 2rem;
  --sp-xl: 2.4rem;
  --sp-xxl: 3.2rem;
  /* box-shadow */
  --shadow-smooth: 0px 0px 2px #a1a1a1;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--primary-font);
}
