@import "./global.css";
.outline-container {
  border: 1px solid var(--black-100);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 5px var(--black-100);
}

.outline-flex-container {
  border: 1px solid var(--black-100);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 5px var(--black-100);
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 1rem 0px;
}
