/* to be added to the parent */
/* will think of a better approach for layouting */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.space-around {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
