.avatar {
  width: 8rem;
  height: 8rem;
  border-radius: var(--radius-round);
  border: 4px solid var(--black-inverted);
  box-shadow: 0px 0px 5px var(--black-300);
  box-shadow: var(--shadow-smooth);
  object-fit: cover;
  background-size: cover;
}

.avatar-text {
  width: 80px;
  height: 80px;
  border-radius: var(--radius-round);
  border: 4px solid var(--black-inverted);
  box-shadow: 0px 0px 5px var(--black-300);
  font-size: var(--tx-24);
  font-weight: var(--tx-bold);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-400);
  color: var(--black-000);
}

.avatar-sm {
  width: 60px;
  height: 60px;
}

.avatar-md {
  width: 100px;
  height: 100px;
}

.avatar-lg {
  width: 120px;
  height: 120px;
}
