.btn {
  border: none;
  padding: 1rem 1.6rem;
  font-size: 1.6rem;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 550;
}

.btn-primary {
  background-color: var(--purple-400);
  color: var(--black-000);
}
