/* grid-system */
.grid-component {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 0.5rem;
}

.span-2 {
  grid-column: span 2;
}

.span-3 {
  grid-column: span 3;
}

.span-4 {
  grid-column: span 4;
}

.grid-component-responsive {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.grid-component-stacked {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 0.5rem;
}

@media (max-width: 600px) {
  .grid-component-responsive {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-component-stacked {
    grid-template-columns: 1fr;
  }
}
