/* input */
.label {
  font-size: var(--tx-20);
  font-weight: var(--tx-medium);
  margin-top: 20px;
  display: inline-block;
  color: var(--black-400);
}

.label-required::after {
  content: "*";
  color: var(--red-500);
}

.text-input {
  font-size: var(--tx-20);
  padding: var(--sp-sm);
  border: 2px solid var(--black-200);
  border-radius: var(--radius-sm);
  color: var(--black-500);
  display: inline-block;
  width: 100%;
  margin: var(--sp-sm) 0;
}

.text-input:focus {
  border: 2px solid var(--primary-200);
  outline: none;
}

.text-input:read-only {
  background-color: var(--black-100);
}

.text-input:disabled {
  background-color: var(--black-000);
  color: var(--black-400);
  border: none;
  outline: none;
}

.validation-message {
  font-size: var(--tx-14);
  color: var(--red-400);
  font-weight: var(--tx-medium);
}

/* new addition of radio, checkbox and range slide */

/* form */
.form-group {
  width: 100%;
}

/* inputs */
.slide-container {
  width: 100%; /* Width of the outside container */
}
.slider {
  width: 100%;
}

.form-group-heading {
  font-size: var(--tx-20);
  color: var(--black-600);
}

/* radio */

.radio-checkbox-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.radio-checkbox-label {
  font-size: var(--tx-18);
  font-weight: var(--tx-regular);
  color: var(--black-600);
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 0.5rem 0;
}

input[type="radio"] {
  -webkit-appearance: none;
  width: 2rem;
  height: 2rem;
  border-radius: var(--radius-round);
  background-color: var(--black-200);
}

input[type="radio"]:checked {
  -webkit-appearance: none;
  transition: 0.2s;
  border: 0.5rem solid var(--primary-400);
  background-color: var(--black-inverted);
}

input[type="checkbox"] {
  -webkit-appearance: none;
  width: 2rem;
  height: 2rem;
  border-radius: var(--radius-sm);
  background-color: var(--black-200);
}

input[type="checkbox"]:checked {
  -webkit-appearance: none;
  transition: 0.2s;
  background-color: var(--primary-400);
}
