/* sizing */

/* --------------- width ------------------- */
.w-4 {
  width: 0.4rem;
}
.w-8 {
  width: 0.8rem;
}
.w-16 {
  width: 1.6rem;
}
.w-32 {
  width: 3.2rem;
}
.w-64 {
  width: 6.4rem;
}
/* ------------- */
.w-100 {
  width: 10rem;
}
.w-200 {
  width: 20rem;
}
.w-300 {
  width: 30rem;
}

.w-400 {
  width: 40rem;
}
.w-500 {
  width: 50rem;
}
.w-600 {
  width: 60rem;
}
.w-700 {
  width: 70rem;
}
.w-800 {
  width: 80rem;
}

.w-900 {
  width: 90rem;
}
.w-1000 {
  width: 100rem;
}

/* min-width */
.min-w-4 {
  min-width: 0.4rem;
}
.min-w-8 {
  min-width: 0.8rem;
}
.min-w-16 {
  min-width: 1.6rem;
}
.min-w-32 {
  min-width: 3.2rem;
}
.min-w-64 {
  min-width: 6.4rem;
}
.min-w-100 {
  min-width: 10rem;
}
.min-w-200 {
  min-width: 20rem;
}
.min-w-300 {
  min-width: 30rem;
}

.min-w-400 {
  min-width: 40rem;
}
.min-w-500 {
  min-width: 50rem;
}
.min-w-600 {
  min-width: 60rem;
}
.min-w-700 {
  min-width: 70rem;
}
.min-w-800 {
  min-width: 80rem;
}

.min-w-900 {
  min-width: 90rem;
}
.min-w-1000 {
  min-width: 100rem;
}

/* max-width */
.max-w-4 {
  max-width: 0.4rem;
}
.max-w-8 {
  max-width: 0.8rem;
}
.max-w-16 {
  max-width: 1.6rem;
}
.max-w-32 {
  max-width: 3.2rem;
}
.max-w-64 {
  max-width: 6.4rem;
}
.max-w-100 {
  max-width: 10rem;
}
.max-w-200 {
  max-width: 20rem;
}
0 .max-w-30 {
  max-width: 30rem;
}

.max-w-400 {
  max-width: 40rem;
}
.max-w-500 {
  max-width: 50rem;
}
.max-w-600 {
  max-width: 60rem;
}
.max-w-700 {
  max-width: 70rem;
}
.max-w-800 {
  max-width: 80rem;
}

.max-w-900 {
  max-width: 90rem;
}
.max-w-1000 {
  max-width: 100rem;
}

/* height % */

.wp-10 {
  height: 10%;
}
.wp-20 {
  height: 20%;
}
.wp-30 {
  height: 30%;
}

.wp-40 {
  height: 40%;
}
.wp-50 {
  height: 50%;
}
.wp-60 {
  height: 60%;
}
.wp-70 {
  height: 70%;
}
.wp-80 {
  height: 80%;
}

.wp-90 {
  height: 90%;
}
.wp-100 {
  height: 100%;
}

/* --------------- height ------------------- */
.h-4 {
  height: 0.4rem;
}
.h-8 {
  height: 0.8rem;
}
.h-16 {
  height: 1.6rem;
}
.h-32 {
  height: 3.2rem;
}
.h-64 {
  height: 6.4rem;
}
.h-100 {
  height: 10rem;
}
.h-200 {
  height: 20rem;
}
.h-300 {
  height: 30rem;
}

.h-400 {
  height: 40rem;
}
.h-500 {
  height: 50rem;
}
.h-600 {
  height: 60rem;
}
.h-700 {
  height: 70rem;
}
.h-800 {
  height: 80rem;
}

.h-900 {
  height: 90rem;
}
.h-1000 {
  height: 100rem;
}

/* min-height */
.min-h-4 {
  min-height: 0.4rem;
}
.min-h-8 {
  min-height: 0.8rem;
}
.min-h-16 {
  min-height: 1.6rem;
}
.min-h-32 {
  min-height: 3.2rem;
}
.min-h-64 {
  min-height: 6.4rem;
}
.min-h-100 {
  min-height: 10rem;
}
.min-h-200 {
  min-height: 20rem;
}
.min-h-300 {
  min-height: 30rem;
}

.min-h-400 {
  min-height: 40rem;
}
.min-h-500 {
  min-height: 50rem;
}
.min-h-600 {
  min-height: 60rem;
}
.min-h-700 {
  min-height: 70rem;
}
.min-h-800 {
  min-height: 80rem;
}

.min-h-900 {
  min-height: 90rem;
}
.min-h-1000 {
  min-height: 100rem;
}

/* max-height */
.max-h-4 {
  max-height: 0.4rem;
}
.max-h-8 {
  max-height: 0.8rem;
}
.max-h-16 {
  max-height: 1.6rem;
}
.max-h-32 {
  max-height: 3.2rem;
}
.max-h-64 {
  max-height: 6.4rem;
}
.max-h-100 {
  max-height: 10rem;
}
.max-h-200 {
  max-height: 20rem;
}
.max-h-300 {
  max-height: 30rem;
}

.max-h-400 {
  max-height: 40rem;
}
.max-h-500 {
  max-height: 50rem;
}
.max-h-600 {
  max-height: 60rem;
}
.max-h-700 {
  max-height: 7rem;
}
.max-h-800 {
  max-height: 80rem;
}

.max-h-900 {
  max-height: 90rem;
}
.max-h-1000 {
  max-height: 100rem;
}

/* height % */

.hp-10 {
  height: 10%;
}
.hp-20 {
  height: 20%;
}
.hp-30 {
  height: 30%;
}

.hp-40 {
  height: 40%;
}
.hp-50 {
  height: 50%;
}
.hp-60 {
  height: 60%;
}
.hp-70 {
  height: 70%;
}
.hp-80 {
  height: 80%;
}

.hp-90 {
  height: 90%;
}
.hp-100 {
  height: 100%;
}
